<div class="clientImage">
	<div class="clientImage">
		<img id="clientImageUploaded" {{bind-attr src=base64}} class="img-thumbnail" width="300" height="300" align="middle">
	</div>

	<h5 class="alert alert-info" role="alert">
		Exif : </br>
		{{imageExif}}
	</h5>
</div>
